@model SAT.DATA.EF.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Delete @Model.CourseName?</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@* <h1 class="mt-4 ms-4 text-center">Delete</h1> *@

<div class="alert alert-danger m-5">
<h3 class="text-center alert-danger">Are you sure you want to delete @Model.CourseName?</h3>
<h5 class="text-center mt-3">Deleting @Model.CourseName is irreversible and cannot be undone.</h5>
</div>
<div class="container">
    <h4>Course - @Model.CourseName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10 mb-2">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class="col-sm-10 mb-2">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>
        <dd class="col-sm-10 mb-2">
            @Html.DisplayFor(model => model.CreditHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curriculum)
        </dd>
        <dt class="col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10 mb-2">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10 mb-4">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-4 mb-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="CourseId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary ms-1">Cancel</a>
            </form>
        </dt>
    </dl>
    
    @* <form asp-action="Delete">
        <input type="hidden" asp-for="CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form> *@
</div>
